.burger {
    display: none;
}

.burger__off {

}

.burger__button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.burger__button:hover {
    opacity: 0.8;
}

.burger__logo {

}

.burger__on {

}

.burger__open {

}

.burger__links {

}

.burger__link {
    
}

.burger__account-container {
    
}

.burger__account {

}

.burger__account-button {

}

.burger__account-icon {

}

.burger__account-text {
    
}

@media screen and (max-width: 1000px) {
    .burger {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    
}