.register {
    display: flex;
    flex-direction: column;
    padding: 70px 0 70px;
}

.register__container {
    margin: 0 auto 0;
    max-width: 396px;
}

.register__logo-wraper {
    
}

.register__logo {

}

.register__title {
    margin: 36px 0 40px;
    font-size: 24px;
    font-weight: 500;
}

.register__form {
    
}

.register__fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.register__input-container {
    display: flex;
    flex-direction: column;
    padding: 0 0 6px;
}

.register__input-container:last-of-type {
    padding: 0;
}

.register__input {
    display: flex;
    justify-self: flex-end;
    border: none;
    padding: 5px 0 10px;
    height: 17px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    border-bottom: solid 1px #E8E8E8;
    width: 100%;
    outline: none;
}

.register__input:focus {
    border-bottom: solid 1px #3456F3;
}

.register__error {
    padding: 6px 0 0;
    color: #EE3465;
    font-size: 10px;
    font-weight: 400;
}

.register__name {
    color: #A0A0A0;
    font-size: 10px;
    font-weight: 400;
}

.register__email {
    color: #A0A0A0;
    font-size: 10px;
    font-weight: 400;
}

.register__password {
    color: #A0A0A0;
    font-size: 10px;
    font-weight: 400;
}

.register__submit-container {
    padding: 134px 0 0;
}

.register__submit {
    border: none;
    background-color: #3456F3;
    border-radius: 3px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    width: 396px;
    height: 45px;
    cursor: pointer;
}

.register__submit:hover {
    opacity: 0.7;
}

.register__link {
    margin: 16px 0 0;
    padding: 0;
    color: #A0A0A0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.register__to-login {
    margin-left: 6px;
    text-decoration: none;
    color: #3456F3;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.register__to-login:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1000px) {
    .register {
        padding: 232px 0 232px;
    }
}

@media screen and (max-width: 500px) {
    .register {
        padding: 56px 0 30px;
    }

    .register__logo-wraper {
        display: flex;
        justify-content: center;
    }

    .register__container {
        max-width: 260px;
    }

    .register__title {
        text-align: center;
        margin: 46px 0 80px;
    }
    
    .register__submit-container {
        padding: 222px 0 0;
    }

    .register__submit {
        border-radius: 3px;
        font-size: 12px;
        width: 260px;
    }

    .register__link {
        margin: 14px 0 0;
        font-size: 12px;
    }

    .register__to-login {
        font-size: 12px;
        margin-left: 7px;
    }
}