.footer {
    background-color: #FFF;
    padding: 0 70px 0;
}

.footer__container {
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 13px;
    min-height: 172px;

}

.footer__text {
    margin: 0;
    padding: 79px 0 20px;
    color: #A0A0A0;
    text-align: center;
    border-bottom: 1px solid #E8E8E8;
    font-size: 13px;
    font-weight: 400;
}

.footer__signature {
    display: flex;
    min-height: 56px;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    font-weight: 400;
    font-size: 13px;
}

.footer__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    font-weight: 400;
    font-size: 13px;
}

.footer__item {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.footer__item:last-of-type {
    margin-left: 10px;
}

.footer__item:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1000px) {
    .footer {
        padding: 0 30px 0;
    }
}

@media screen and (max-width: 500px) {
    .footer {
        padding: 0 10px 0;
    }

    .footer__container {
        min-height: 253px;
    }

    .footer__text {
        /* min-height: 300px; */
        font-size: 12px;
        font-weight: 400;
        padding: 79px 0 21px;
    }

    .footer__signature {
        flex-direction: column-reverse;
    }

    .footer__list {
        margin: 0;
        padding: 30px 0 30px;
        flex-direction: column;
        text-align: center;
    }

    .footer__item {
        font-size: 12px;
    }

    .footer__item:last-of-type {
        margin-top: 12px;
        margin-left: 0;
    }

    .footer__copyright {
        color: #A0A0A0;
        font-size: 12px;
        margin: 0;
    }
}