.searchform {
    padding: 70px 70px 0 70px;
    display: grid;
}

.searchform__wraper {
    padding: 0 0 15px 0;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
}

.searchform__input {
    color: #A0A0A0;
    font-size: 28px;
    font-weight: 500;
    border: none;
    padding: 0;
}

.searchform__button {
    width: 58.65px;
    height: 34px;
    border-radius: 48px;
    background: #3456F3;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.64;
}

.searchform__toggle {
    margin: 33px 0 49px 0;
    display: flex;
    align-items: center;
    position: relative;
    width: 34px;
    height: 14px;
    border-radius: 7px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.searchform__toggle-on {
    background-color: #2BE080;
}

.searchform__toggle-off {
    background-color: #C4C4C4;
}

.searchform__toggle-switcher {
    width: 10px;
    height: 10px;
    background-color: #FFF; 
    border-radius: 50%;
    left: 2px;
    position: absolute;
    transition: left 0.2s; 
}

.searchform__toggle-on .searchform__toggle-switcher {
    left: calc(100% - 10px - 2px);
}

.searchform__toggle-text {
    padding: 0 0 0 50px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .searchform {
        padding: 80px 30px 0 30px;
    }

    .searchform__toggle {
        justify-self: flex-end;
        flex-direction: row-reverse;
        margin: 43px 0 53px;
        
    }

    .searchform__toggle-text {
        padding: 0 52px 0 0;
    }
}

@media screen and (max-width: 500px) {
    .searchform {
        padding: 84px 14px 0 14px;
    }

    .searchform__wraper {
        padding: 0 0 9px 0;
    }

    .searchform__input {
        width: 80%;
        font-size: 18px;
    }

    .searchform__toggle {
        justify-self: center;
        flex-direction: row-reverse;
        margin-left: 110px;

    }

    .searchform__toggle-text {
        font-size: 11px;
        padding: 0 49px 0 0;
    }
}