.searchform {
    padding: 70px 70px 0 70px;
}

.searchform__wraper {
    padding: 0 0 15px 0;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
}

.searchform__input {
    color: #A0A0A0;
    font-size: 28px;
    font-weight: 500;
    border: none;
    padding: 0;
}

.searchform__button {
    width: 58.65px;
    height: 34px;
    border-radius: 48px;
    background: #3456F3;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.64;
}

.searchform__toggle {
    margin: 33px 0 49px 0;
    display: flex;
    align-items: center;
}

.searchform__toggle-input {

}

.searchform__toggle-styles {
    width: 34px;
    height: 14px;
    background-color: #2BE080;
    border-radius: 20px;
}

.searchform__toggle-text {
    margin: 0 0 0 14px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38;
}

@media screen and (max-width: 1000px) {
    .searchform {
        padding: 80px 30px 0 30px;
    }
}

@media screen and (max-width: 500px) {
    .searchform {
        padding: 90px 14px 0 14px;
    }

    .searchform__wraper {
        padding: 0 0 9px 0;
    }
}