.about-me {
    margin: 0 70px 0;
    display: flex;
    flex-direction: column;
}

.about-me__title {
    margin: 110px 0 0;
    padding: 0 0 23px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.88px;
    border-bottom: 1px solid #000000;
    max-width: 1140px;
}

.about-me__container {
    padding: 66px 0 101px;
    display: flex;
    justify-content: space-between;
}

.about-me__description {
    display: flex;
    flex-direction: column;
    
}

.about-me__name {
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -2px;
}

.about-me__subtitle {
    margin: 18px 0 26px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;

}

.about-me__about {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    max-width: 600px;
    width: 80%;
    margin: 0;
}

.about-me__link {
    margin: 99px 0 0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    
}

.about-me__link:hover {
    opacity: 0.7;
    cursor: pointer;
}

.about-me__photo {
    /* margin: 0 auto 0; */
    border-radius: 10px;
    width: 270px;
    height: 327px;
    object-fit: cover;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .about-me {
        padding: 0 50px 0;
        margin: 0;
    }

    .about-me__container {
        padding-bottom: 91px;
    }

    .about-me__name {
        font-size: 40px;
        font-weight: 400;
        /* line-height: 1.0; */
        letter-spacing: -1.6px;
    }

    .about-me__title {
        margin: 90px 0 0;

    }

    .about-me__subtitle {
        font-size: 12px;
        line-height: 1.5;
        margin: 16px 0 20px;
    }

    .about-me__about {
        font-size: 12px;
        line-height: 1.5;
        min-height: 108px;
    }

    .about-me__photo {
        width: 255px;
        height: 307px;
    }

    .about-me__link {
        margin: 87px 0 0;
    }
}

@media screen and (max-width: 700px) {
    .about-me {
        padding: 0 14px 0;
        margin: 0;
    }

    .about-me__title {
        margin: 70px 0 0;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.72px;
        padding: 0 0 28px;

    }

    .about-me__container {
        padding: 60px 0 70px;
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }

    .about-me__name {
        font-size: 30px;
        letter-spacing: -1.2px;
        padding-top: 40px;

    }

    .about-me__subtitle {
        font-size: 11px;
        line-height: 1.5;   
        margin: 20px 0 20px;
    }

    .about-me__about {
        font-size: 11px;
        line-height: 1.5;  
        width: 100%;
        min-height: 112px;
    }

    .about-me__photo {
        width: 292px;
        height: 352px;
        /* padding-bottom: 40px; */
    }

    .about-me__link {
        margin: 40px 0 0;
    }
}